[flake8]
ignore = E123, E456, E789, E999, W503, W504, C901
exclude =
    # No need to traverse our git directory
    .git,
    node_modules,
    __pycache__,
    migrations,
    mangalab/settings*,
    harvest/*,
    tests.py,

per-file-ignores =
    manga/helpers/messages.py:E501

