
{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block meta_extend %}

    {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="This is scraping project for manga lab" />
  <meta name="author"
        content="Shivam Pandey" />
  <link rel="icon" href="{% static 'images/favicons/favicon.icon' %}" />
    <!-- Latest compiled and minified Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  <script defer src="{% static 'js/project.js' %}"></script>
  <style>

  </style>

</head>
<body>
  {% include 'pages/navbar.html' %}

  {% block content %}
  <!-- Content Goes here -->
{% endblock %}
  {% include 'pages/footer.html' %}
  </div>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
          {{ message }}
          <button class="delete" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

  </div>
 <script>

 </script>
</body>
</html>
