{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css %}
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #1c2331"
        >
  <!-- Section: Social media -->
  <section
            class="d-flex justify-content-between p-4"
            style="background-color: #6351ce"
            >
    <!-- Left -->
    <div class="me-5">
      <span>Enjoy his manga and anime website: </span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Manga Lab</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>
            Here you can read and wach latest Manga and Anime. And 
            you will get all latest content here.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Manga</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>
            <a href="#!" class="text-white">Latest</a>
          </p>
          <p>
            <a href="#!" class="text-white">Most Viewed</a>
          </p>
          <p>
            <a href="#!" class="text-white">Treanidng</a>
          </p>
          <p>
            <a href="#!" class="text-white">Top Manga of week</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Anime</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p>
            <a href="#!" class="text-white">Latest</a>
          </p>
          <p>
            <a href="#!" class="text-white">Most Viewed</a>
          </p>
          <p>
            <a href="#!" class="text-white">Treanidng</a>
          </p>
          <p>
            <a href="#!" class="text-white">Top anime of week</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
          <p><i class="fas fa-home mr-3"></i>Koi Tikana Nahi Hai</p>
          <p><i class="fas fa-envelope mr-3"></i> meraemal@yahi.hai</p>
          <p><i class="fas fa-phone mr-3"></i> +00 1-7-14-7-7-14-7-7</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-3" tyle="background-color: rgba(0, 0, 0, 0.2)">
    ©    Copyright : MangaLab
  </div>
</footer>
