{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

  <footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
      <!-- Footer Columns -->
      <div class="columns">
        <!-- Company Info Column -->
        <div class="column is-3">
          <h6 class="title is-6 has-text-white">Manga Lab</h6>
          <p>
            This is manga la footer and info about us
          </p>
        </div>

        <!-- Products Column -->
        <div class="column is-2">
          <h6 class="title is-6 has-text-white">Manga/Manhwa</h6>
          <p><a class="has-text-white">Latest</a></p>
          <p><a class="has-text-white">New</a></p>
          <p><a class="has-text-white">Treanding</a></p>
          <p><a class="has-text-white">Most viewed</a></p>
        </div>

        <!-- Useful Links Column -->
        <div class="column is-3">
          <h6 class="title is-6 has-text-white">Anime</h6>
          <p><a class="has-text-white">Japanese (Anime)</a></p>
          <p><a class="has-text-white">Chinese (Doungwa)</a></p>
          <p><a class="has-text-white">Most Viewed</a></p>
          <p><a class="has-text-white">Latest</a></p>
        </div>

        <!-- Contact Column -->
        <div class="column is-4">
          <h6 class="title is-6 has-text-white">Contact</h6>
          <!-- <p><span class="icon"><i class="fas fa-home"></i></span> This is contac</p>
          <p><span class="icon"><i class="fas fa-envelope"></i></span> info@gmail.com</p>
          <p><span class="icon"><i class="fas fa-phone"></i></span> + 01 234 567 88</p>
          <p><span class="icon"><i class="fas fa-print"></i></span> + 01 234 567 89</p> -->
        </div>
      </div>

      <!-- Footer Bottom -->
      <hr class="my-3">
      <div class="columns is-vcentered">
        <div class="column is-8 has-text-centered">
          <p>© 2020 Copyright:
            <a class="has-text-white" href="{url ''}">mangalab.com</a>
          </p>
        </div>
        <div class="column is-2 has-text-right">
          <a class="button is-small is-light is-outlined m-1"><span class="icon"><i class="fab fa-facebook-f"></i></span></a>
          <a class="button is-small is-light is-outlined m-1"><span class="icon"><i class="fab fa-twitter"></i></span></a>
          <a class="button is-small is-light is-outlined m-1"><span class="icon"><i class="fab fa-google"></i></span></a>
          <a class="button is-small is-light is-outlined m-1"><span class="icon"><i class="fab fa-instagram"></i></span></a>
        </div>
      </div>
    </div>
  </footer>
